body{
    background: #222;
    text-align: center;
}

#szachownica{
    background: url("szachownica.svg");
    background-repeat: no-repeat;

    position: relative;
    display: inline-block;

    padding: 0;
    margin: 0;

    border: 2px solid #000;
    z-index: 0;
}

#szachownica>img{

    position: absolute;

    margin: 0px;
    padding: 0px;
    
    z-index: 1;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#szachownica>img:hover{
    cursor: pointer;
}